1	请运行Mixer.exe.
2	读取版本信息失败.
3	正在连接服务器.
4	正在读取版本信息文件.
5	读取版本信息文件失败.
6	版本信息文件异常.
7	正在下载版本信息文件.
8	连接更新服务器失败.
9	下载版本信息文件失败.
10	正在下载更新文件.
11	生成文件失败.
12	下载更新文件失败.
13	正在复制文件.
14	复制文件失败.
15	正在解压.
16	没找到执行文件.请重新安装游戏.
17	您选择了取消,更新已终止.
18	游戏在线更新.
19	游戏在线更新.
20	请重新运行游戏.
21	Report File 生成错误
22	读取Version 文件信息时发生错误.您可以将Report文件夹内的Report.txt发送到客服邮箱,让客服人员帮您解决问题.