1	Seja bem vindo ao servidor Aganin
2	Acesse nosso web-site para obter todas as informações sobre eventos entre outros..
3	Servidor AGANIN - http://hard.titanbrasil.net/
4	Accuracy faz taxa de acerto de energia, defesa e HP aumentarem.
5	A sorte faz taxa de sucesso de habilidade, o HP taxa de recuperação de MP, MP e HP, aumentarem.
6	Misturar só é possível entre um male e um female.
7	Por favor use o fórum da página inicial para informar quando encontrar um bug.
8	A fim de atacar o adversário no campo de batalha livre, você tem que atacar enquanto pressiona a tecla CTRL.
9	Verefique sempre nossas promoções em nosso fórum http://titanbrasil.net/forum
10	Você pode usar o Emoticon por Ctrl+clique com o botão direito no seu personagem.
11	Os monstros podem ser curados atravez do NPC MixBuilder que fica em determiados locais.
12	Fraqueza de cada tipo de monstro: Animal < Dragon < Plant < Bird < Demon < Mysterio < Metal < Insecte < Animal.
13	Para poder viajar você precisa de um anel que se encontra matando um monstro chamado Noise.
14	Para obter lista de mistura, consulte as fórmulas de mistura do lado esquerdo da página em http://hard.titanbrasil.net.
15	Nunca passe seu login ou sua senha para nenhum moderador pois não pedimos o mesmo, tome cuidado com seus dados!
16	Zona de prêmio fraca ou média dá uma taxa de queda de 200%. Zona de prêmio forte dá uma taxa de queda de 300%.
17	A força do nome do monstro é vista na ordem de vermelho<laranja<amarelo<amarelado<verde<cinza de acordo com seu nível
18	Nunca desrespeite ao proximo.
19	Preciono o botão do seu teclado Print Screen para retirar alguma foto dentro do servidor.
20	Gestão de guilds e aplicações de subscrição podem ser feitas através do Jack NPC em cada cidade.
21	"Pour séléctionner votre groupe, appuyez sur ""7"". Appuyez sur ""Entrée"" pour parler sur le chat et ""Echap"" pour quitter."
22	Para fazer uma seleção específica de seu grupo, botão direito do mouse e arraste para selecionar seus indivíduos.
23	Ne vendez pas tous vos objets aux PNJ, vendez en aux autres joueurs, vous pourrez les vendre au prix de votre choix.
24	Para criar alguma guild o Guild Master precisa estar 2 niveis superior!
25	Se o nivel do seu hench estiver muito baixo ele ira desaparecer
26	Quando Hench ganha um nível, seus pontos sao automaticamente distribuidos.
27	Os GP são adquiridos automaticamente ate no nivel 75 apos isso precisa ir para um zona especial.
28	Quando uma combinação falhar, os níveis de ambos Henches cairão entre 3 e 6 níveis.
29	Os personagens na mesma conta, podem compartilhar um armazém uns com os outros.
30	Você pode ampliar o armazém, pagando o almoxarifado.
31	Se você tiver algum amigo, você pode receber EXPEREIENCIA lutando junto ao lado dele.
32	Um herói pode controlar Henches cujo níveis são de até 15 maiores do que ele ou ela.
33	Quando um herói está sentado, uma batalha é possível entre Henches dentro do campo visível.
34	Se você caçar com seu amigo da sua lista, 5% de EXP é compartilhada.
35	A posição de reavivamento pode ser alterada por falar com a Assistente da Ressurreição.
36	Você pode nos dar sugestão acessando nosso forum, http://titanbrasil.net/forum
37	Confira seção Notícias da web para ver as atualizações do jogo.
38	Mesmo em caso de falha na mistura, o seu níveis mistura aumentarão para aumentar a taxa de sucesso de sua próxima mistura.
39	SP é o que é necessário para aprender uma habilidade. SP é dada toda vez que os níveis de herói aumentam.
40	Para aprender a segunda habilidade você precisa estar no nivel mais forte da habilidade
41	Détour et attaque peuvent être utilisés par un héros ou un hench.
42	Você pode aprender habilidades primárias de Magirita, você também pode aprender a habilidade secundária na Masmorra Rojeta.