1	11	106
전체 맵 : 단축키 “ M ” 을 누르시면 
믹스마스터의 전체 맵을 보실 수 있으며, 
자신이 현재 위치한 맵을 확인 
할 수 있습니다. 자신이 위치한 맵에는 
화살표로 표시가 되어 있습니다.
 
미니 맵 : 게임화면 오른쪽 아래의
[미니맵] 버튼을 누르시면 미니맵을 
활성화 시키거나 비활성화 시킬 수 
있습니다. 
미니맵에서는 자신이 위치한 맵 이름과 
좌표를 알 수 있습니다.