1	6	111
각 마을에는 워프 NPC 인 [모네스]가 
있답니다. 이것을 통해 각 마을 / 자유전투 
지역으로 워프를 할 수 있답니다.
워프를 하기 위해서는 인벤토리에 반드시
[워프링] 이 있어야 하며, 한번 워프를 
할 때마다 500GP의 비용이 필요하답니다.

워프링은 필드의 몬스터를 사냥하다보면
드롭이 되는 아이템이며, 1개만 소지하고 
있으면 계속 사용할 수 잇습니다.