1	10	116
( 1 ) 게임상에서 인벤토리를 여세요. 
( 단축키 “ U ” )
( 2 ) 물약 또는 약초를 게임 화면 오른쪽에 
있는 단축키 창에 올려놓으세요.
( 3 ) 물약 또는 약초를 올려놓은 단축키 
창의 단축키를 누르세요.
( 4 ) 물약 또는 약초를 주고 싶은 캐릭터 
또는 헨치에 클릭하시거나, 게임화면 오른쪽 
위에 있는 캐릭터 / 헨치 상태창에 
클릭하시면 됩니다.