1	11	117
( 1 ) 게임상에서 스킬 창을 여세요. 
( 단축키 “ I ” )
( 2 ) 원하시는 스킬 아이콘을 게임 화면 
오른쪽에 있는 단축키 창에 올려 놓으세요.
( 3 ) 스킬을 올려 놓은 단축키 창의 단축키를 
누르세요.
( 4 ) 선택하신 스킬이 공격 스킬 이라면, 
몬스터를 클릭하시고, 방어 스킬 또는 힐링 
이라면 캐릭터 또는 헨치에 클릭하시거나, 
게임화면 오른쪽 위에 있는 캐릭터 / 헨치 
상태창에 클릭하시면 됩니다.