1	14	122
채팅글 입력창 옆 작은 창에 귓말을 보낼 
대상의 캐릭명을 입력하신 후 키보드 
“ TAB ” 키를 누르신 후 대화내용을 
입력하시면 됩니다.
만약 귓속말을 받았을 경우 키보드 “ ALT ” 
를 누르시면 가장 최근에 귓속말을 보낸 
대상의 캐릭 명이 자동으로 입력됩니다.
 
아래는 좀 더 쉽게 귓속말을 할 수 있는 
방법입니다.
 
귓속말 = /캐릭터명 대화내용
귓속말 거부 = /거부 캐릭터명
귓속말 허용 = /허용 캐릭터명