1	17	137
믹스빌더 NPC는 코어 회복 / 믹스 
/ 헨치이름 바꾸기 / 코어팔기 의 기능을 
하는 NPC랍니다.
 
코어 회복 : 헨치로 사냥을 하다가 헨치가 
죽었을 때 다시 부활을 시키는 기능.
 
믹스 : 헨치와 헨치를 이용해 재료가 된 
헨치보다 좋은 헨치로 변신 시킬 수 있는 기능.
 
헨치 이름 바꾸기 : 헨치의 이름을 유저가 
원하시는 이름으로 바꿀 수 있는 기능.
 
코어팔기 : 자신에게 필요 없는 코어를 돈으로
 되 팔 수 있는 기능.
 
위의 기능을 가진 NPC가 바로 믹스빌더 NPC 랍니다.
