1	9	137
마지리타 마을의 믹스빌더 NPC는 두 분(?) 
계신답니다.^^ 그중에 좌표 X : 122 / Y : 159 
에 계시는 믹스빌더 NPC에게 가보죠..^^
자 믹스빌더 NPC를 클릭해보세요. 
그럼 메뉴 창이 나오죠? 
그곳에서 “ 코어회복 ” 메뉴를 누르세요.
그럼 작은 창이 하나 나오죠? 죽은 코어를 
선택하시고 확인 버튼을 누르시면 
코어가 회복될 거예요.