0	您的网络不稳定，或服务器正在维护或服务器在线已爆满，请稍候再试.
1	服务器断开连接.您请网络环境不稳定或服务器已爆满. 
2	客户端版本过低,需安装新客户端.要打开游戏官网吗? 
3	您输入的ID不存在.
4	您输入的密码错误.请重新输入.
5	此ID已被封停.
6	此ID没有被激活.
7	出现异常错误,即将关闭程序.
8	未支持.
9	不能使用空格符号.
10	请输入4到12位的ID.
11	ID过短,请输入大于4位的ID.
12	密码过短,请输入大于4位的密码.
13	服务器
14	维护
15	服务器正在维护.
16	读取版本信息失败
17	winsock初始化错误
18	SOCKET创建错误
19	连接错误
20	顺畅
21	一般
22	忙碌
23	服务器已爆满,请稍候再试.
24	服务器名
25	服务器状态
26	不能
27	22004
28	22005
29	22006
30	22007
31	22008
32	幼圆体
33	需要认证@即将访问官网
34	老玩家回归活动! 参与对象. 请到游戏@官网登录后参与活动!
35	需要认证@请登录官网后认证
36	游戏正在维护