10	Weapon Merchant	1	5	0	2	8
Arma é uma necessidade para as suas aventuras. Não importa o quão forte você é, você vai sempre buscar a melhor arma.
Meu companheiro Jonesy teve um bebê! Celebração de venda no momento!
Eu faço bom negócio. Barato baratos para u!!
Tenha em mente que você só pode equipar uma das armas! Espada, junta, arco ou arma.
Olhar para a qualidade da arma, com o botão direito no menu de inventário.
Oh meu Deus! Você foi esmagado por um Devilco? Umm, pare de chorar e comprar algumas armas!
Hey! Dê uma olhada, estamos tendo uma venda semestral agora. Eu disse a mesma coisa ontem? Bem .. de onde eu venho, sua meia todos os dias por ano
Mostre-me o que você tem, eu vou dar u bom preço!
Comprar @Sell @Gamble
