13	Weapon Merchant	9	5	0	2	5
Aqui! Dê uma olhada ao redor. Estas armas de silicone são os inventários mais caro nesta loja. Mas se você quiser ser um mixmaster, é necessidade. Cartão de crédito não serão aceitos.
Oh meu Deus! Você foi esmagado por um cigano? @Umm ... Pare de chorar e comprar algumas armas!
Seu Henches são inúteis, porque você não compra algumas armas em vez disso? Sinta-se livre para olhar ao redor. By the way, você tem dinheiro suficiente?
Vender alguns de seus itens inúteis para mim, eu vou oferecer a um bom negócio ..
Você está perdido? Por que você não pressione a tecla 'M', você não será mais perdido.
Comprar Vender @Sell @Gamble