11	Weapon Merchant	1	5	0	2	7
Obrigado por visitar o nosso strore. Eu sou o dono desta loja de armas. Por favor, olhe ao redor. Existem muitas armas agradável.
Você não sabe qual arma vai caber para você? Uma espada será apropriado para Dit e uma junta será bom para Jin.
Você não sabe qual arma vai caber para você? A arma será apropriado para Phoy e um arco será bom para Penril.
Oh meu Deus! Você foi esmagado por um Beasco? @ Umm ... Pare de chorar e comprar algumas armas!
Vamos lá garoto! Basta ir para o seu instinto e comprar!
Eu estive no negócio por 10yrs agora. Eu vi um monte de aventureiro, mas nunca como você. Seu Henches parecem te amo!
Quando você faz a compra aposta, o conteúdo poderia ser qualquer coisa de um lixo inútil item ridiculamente grandes. Daí a aposta, eu acho.
Comprar Vender @Sell @Gamble