14	Weapon Merchant	22	5	0	2	6
Você sabe qual arma combina com você? Uma espada é adequado para Dit enquanto uma junta irá atender Jin.
Você sabe qual arma combina com você? Uma arma é adequada para Phoy enquanto um arco servirá Penril.
Seu Henches são inúteis, porque você não compra algumas armas em vez disso? Sinta-se livre para olhar ao redor. By the way, você tem dinheiro suficiente?
Oi! Eu sou um comerciante de arma de Rudis. Você é tão sortuda, porque Rudis cidade oferece as melhores armas comparar com outras cidades. Você quer comprar alguma coisa?
Oh meu Deus! Você foi esmagado por um Torra? @Umm ... Pare de chorar e comprar algumas armas!
Vender alguns de seus itens inúteis para mim, eu vou oferecer a um bom negócio.
Comprar Vender @Sell @Gamble
