12	Weapon Merchant	9	5	0	2	5
Estou Chick Bone, o melhor ferreiro em VeHerseba. Por que você não olhar em volta para as armas? Armas de aço são os melhores nesta loja.
Você sabe qual arma vai servi-lo? Uma espada é adequado para Ditt, enquanto uma junta é adequado para Jin.
Você sabe qual arma vai servi-lo? Uma arma é adequada para Phoy enquanto o arco é adequado para Penril.
Seu Henches são inúteis, porque você não compra algumas armas em vez disso? Sinta-se livre para olhar ao redor. By the way, você tem dinheiro suficiente? Você parece muito jovem.
Se você quiser vender seus itens inúteis, comprar um tapete de acessórios Merchants. Seus itens antigos ou núcleos podem ser vendidos por um preço alto!
Comprar Vender @Sell @Gamble