20	Mix Builder	11	5	0	4	5
Há um rumor se espalhou dizendo que uma pessoa Artreia oriental de Rudis é coletar moedas de ouro.
Phoenix, WingCrusher e xifo que gostem de coisas cintilantes fugiu com moedas de ouro.
Manta, Nightlme e redli são todos os monstros que gosta de coisas cintilantes fugiu com as moedas de ouro também.
Eles estão dando alguns itens de Ouro e Henches, Por que você não vai lá? O que eu posso ajudá-lo? O que você está esperando? Resurect Henches mortos, e tornar mais forte para Henches fraco.
O Hench que você está viajando com é uncharacterisitics. Talvez seu Henches não gosta também? Meu favorito é Hench Torra. Você saberá quando você vê-lo sentado.
Recuperação Core @Mix @Mix teste de pericia @Hench Alterar Nome @Core Venda