26	Mix Builder	3	5	0	4	4
Você é um valor monstro? Eu sou um construtor chamado mix 'clrari suco. Às vezes eu revitalizar os núcleos mortos e misturá-los.
O nome do seu hench qual você está viajando com é atípico. Talvez seu henches não gosto muito.
Não fique triste, mesmo se você perder seu henches no campo de batalha do monstro. Você pergunta por quê? Porque eu posso revitalizar os núcleos mortos.
Não é a minha cara bonita? De fato, o comerciante de armas que está por trás de mim gosta de mim. Mas eu não gosto dele.
Recuperação Core@Mix@Mix teste de pericia@Hench Alterar Nome@Core Venda
