21	Mix Builder	20	5	0	4	7
Hamel quem está no lado esquerdo você pode mudar de moedas de ouro do Artreia para Hench item.
Ouvi dizer que Phoenix, Wingclasher e xifo tomou as moedas de ouro.
De acordo com a memória Hamel, Goldenmoss, Nightlme e Redri também estão ao lado do saco de moedas de ouro.
A pessoa que é, do seu lado esquerdo você é Hamel. Ele veio para cá porque o navio que é a partir do extremo leste da ilha Artreia afundado.
Ouvi dizer que se Hamel não coletar todas as moedas de ouro, ele não pode voltar para sua cidade natal.
Hamel é ¡bonito | Então, na verdade eu gostaria que ele não volta para sua cidade natal ¡| ¡Haha |
Se eu tivesse que descrever Harmel como um Hench, será mais como PoochDev bonito?
Recuperação Core @Mix@Mix teste de pericia@Hench Alterar Nome@Core venda
