38	Chief Castle Guard	5	5	0	8	1
Saudações jovens um! Eu sou o chefe da Guarda Castelo Castelo Magirita. Eu organizo o Affair Siege. Você veio aqui para o controle do castelo? A alma do Parapoong é um símbolo do poder.
Siege Aplicação de Entrada Affair@Siege Cancelamento Entrada Affair@Siege Lista de Participação Affair@Siege Affair Mercenary Application@Siege Affair cancelamento Mercenary@Enter the Castle
