35	Armour Merchant	1	5	0	2	3
Oh, você claramente parece um MixMaster novo. Olhe para você! Comprar alguma coisa aqui e proteja-se!
Se você não tiver feito isso, você deve ir falar com o professor Jove e Pooch para que eles possam ajudá-lo. Pooch ainda lhe dá dinheiro de graça! Que Hench ele é bom!
Prepare-se nesta zona, antes de ir lá fora!
Buy@Sell