34	Armour Merchant	18	5	0	2	5
Dê uma olhada! Rudis irá oferecer-lhe a melhor arma de defesa.
Se a arma tem bons atributos, preço não importa muito, porque você vai desfrutar de usá-lo.
Por favor, não me pergunte por direção! Eu sou um comerciante de armadura. Se você quiser conferir o mapa inteiro, chave push 'M '.
Aqui! Preste atenção! Nós vamos oferecer um preço inacreditável taxa baixa comparar com outras lojas.
Se você é um homem corajoso, você irá lutar contra os monstros sem usar uma armadura. Mas, se você é um homem sábio, você vai usar uma armadura. Certo?
Comprar @Sell @Gamble vender
