49	Item Builder	22	5	0	12	1
Bem-vindo~ Obrigado pela Visita.@I'm a builder who makes item. Não aá nada que eu não posso fazer. Arma, Armor, Acessórios, Poção e assim por diante...@In Fack,
Eu não sou tão habilidoso como meu mestre, por isso não posso lidar com livro de produção.@But l'll do my best if you ask the other items Below Level 90!
Fazer Itens