59	Accessory Merchant	10	5	0	2	6
Eu sou um comerciante de acessórios. Por favor me visitar e explorar minha loja. Está cheio de itens úteis.
Se você quiser vender seus itens inúteis, eu aconselho a comprar um tapete de mim e vender os seus artigos nas ruas. Você nunca sabe quem vai pagar o preço para o seu tesouro antigo.
Eu sou um comerciante de acessórios, mas eu vender montes de outros itens também.
Cura poção aumentar seu HP.
Mente poção aumentar seu MP. HP e MP vai recuperar a tempo. A taxa de recuperação será maior se você se sentar. Você pode sentar-se pressionando 'P'.
Precisamos de um restaurante chique na cidade. Enfim, como posso ajudá-lo?
Buy @Sell
