57	Accessory Merchant	2	5	0	2	7
Get'em enquanto estao Quentes! Receba como Ervas SUAS Poções e Outros Produtos Aqui!
Embora nao Haja Dinheiro, elementos PoDE serviços UM SO Deleite Olhos par.
Cura Poção Enche Seu HP.
Mente Poção Enche o MP Para quê VOCÊ facilmente usar uma magia.
Voce Gosta Do Meu marca nova pulseira? FOi caro. I love it!
Voce estabele olhando par MIM? Eu Sou O Que Comerciante vende de Todos os Tipos de Poções.
Por Que Voce Nao vende alguns itens n º Meu amigo MIM,? Eu dou bom preco-LHE.
Buy @Sell
