60	Accessory Merchant	10	5	0	2	5
Aqui! Dê uma olhada ao redor. Você está procurando por um elmo de aço plat? Embora seja caro, é altamente eficiente.
Embora seja um pouco mais caro do que aquele em Magirita, é altamente eficiente.
Cura poção aumentar seu HP.
Mente poção aumentar seu MP para que você possa executar a mágica.
Por que você não vender o seu produto para mim? Eu vou oferecer-lhe um bom negócio. Você acha que eu estou mentindo? Hahaha ~ Como você sabia que?
Buy @Sell
