70	Jack	27	5	0	5	2
Você pode sentir que o poder do monstro é mais forte? Por que você não se juntar à aliança. É a única maneira de se proteger.
Olá! Eu sou um guia Guild chamado Jack Magirita. Como posso ajudá-lo?
Guild Establishment@Guild Admission/Guild List Check @Guild Management@Guild Information Owning the Castle
