75	Wizard of Resurrection	67	5	0	6	2
Eu sou o Assistente da Ressurreição. Eu vou lhe fazer um favor e selecione onde você ressucitar quando uma tragédia acontece. Basta pressionar 'Ir para a vila "quando você morre. O que você gostaria de fazer?
Você gostaria de definir a posição atual como a sua posição de recuperação?
Recuperação de verificar a posição Check@Recovery in the Present Map
