86	Warehouse Keeper	12	5	0	3	4
Oi, eu sou um Warehouse Keeper. Este é o lugar para armazenar Cores e itens, você pode transferir itens e núcleos em toda a sua conta.
Inicialmente, você pode armazenar 20 itens distribuídos em 20 núcleos no armazém.
Se você aumentar o depósito, você pode armazenar itens e Cores
Toda extensão aumenta 10 compartimentos do armazém e você pode ampliar seu armazém máximo 4 vezes.
Compra Armazém / Extensão @Warehouse Open
