85	Warehouse Keeper	4	5	0	3	4
Olá! Estou Warehouse Keeper. Este é o local para armazenar os núcleos e itens.
Basicamente, você pode armazenar 20 itens distribuídos em 20 núcleos no armazém.
Se você ampliar um armazém, que você pode fazer e armazenar henches mais núcleos.
Toda extensão aumenta 10 compartimentos do armazém e você pode ampliar seu armazém máximo 4 vezes.
Compra Armazém / Extensão @Warehouse Open
