89	Warehouse Keeper	69	5	0	3	5
Olá! Eu sou um Guardião do Armazém. @You can store cores, or items here.
Initially you can store 20 items and 20 cores in the warehouse.
Inicialmente você pode armazenar 20 itens distribuídos em 20 núcleos no armazém.
Toda extensão aumento de 10 compartimentos do armazém and @you can enlarge your warehouse @maximum 4 times. 
Você gostaria de armazenar alguns itens?
Warehouse Purchase/Extension@Warehouse Open
