88	Warehouse Keeper	21	5	1	3	4
Oi! Eu sou um Guardião do Armazém. Este é o lugar para armazenar Cores e itens.
Inicialmente, você pode armazenar 20 itens distribuídos em 20 núcleos no armazém.
Se você ampliar um armazém, que você pode fazer armazenar mais Henches e núcleos.
Toda extensão aumenta 10 compartimentos do armazém e você pode ampliar seu armazém máximo 4 vezes.
Compra Armazém / Extensão @Warehouse Open
