91	Utilitarios-BBQ	60	5	0	2	2
Olá sou um NPC especial vendo utilitario extremamente raros@Gostaria de comprar algum item?						
Olá sou um NPC especial vendo utilitario extremamente raros@Gostaria de comprar algum item?						
Compra@Venda						
