97	Okkie	24	5	0	1	4
Quando eu vi Hamel chegou à entrada Valcan pela primeira vez. Fiquei espantado com sua aparência original.
Rudis é uma cidade agradável. Não se preocupe com o idiota vestindo ao lado do almoxarife. Ele é um pouco estranho. Ele acha que ele pode nos levar para o futuro com um bilhete de Zona Premium ou algo assim. Eu nem sequer kow como obtê-lo.
Sou um guerreiro elfo forte.
Esta arma arco matou tantos monstros. É melhor ter cuidado também!