95	Luis	24	5	0	1	5
Rudis é uma aldeia grande, mas todos os moradores estão preocupados com monstros fortes que nos cercam.
Tentamos o nosso melhor para obter o nível de proteção acima.
Você pode conferir os textos anteriores clicando no botão "Page Up".
Você pode rolar se você apertar "Page Down" após a verificação dos textos anteriores.
Se você pressione a tecla "M", você pode ver o mapa inteiro.