100	Warren	24	5	0	1	6
Na verdade eu não gosto de Hamel.
Você gosta de um elfo? Eu costumo ver duendes aqui.
Você já ouviu falar dos gêmeos Encantamento? Aparentemente, eles vivem Rudis fora. Eles podem criar itens milagre incrível.
Há pessoas especiais chamados GMs. Vejo-os de vez em quando. Eles são incrivelmente rápido e tem todas as Henches. Gostaria de saber quem são eles?
Eu tenho um sentimento Rudis está em perigo. Monstros fortes estão ficando mais agressivos e à protecção das árvores estão ficando mais fracas.
WingCrushers. Eles são um pesadelo.