110	Graham	5	5	0	1	3
Este é um lugar proibido para entrar!
Se você pressione a tecla "M", você pode ver o mapa inteiro. Por que você não verificá-la agora!
Por favor, tenha cuidado! Se a cor do monstro é o vermelho,@that monster will be much stronger than you.