111	Becster	24	5	1	1	4
Este é um lugar proibido para entrar!
Se você perguntar a construtora mix de recuperar o núcleo que você tem caçado, você pode viajar junto com o monstro Hench.
Você pode aprender a magia automaticamente se você está no nível adequado.
Você deve alterar o monstro morto a Hench monstro Core em janelas de status, e então você pode realizar como um núcleo.