132	Jark	27	5	0	5	2
Você pode sentir o poder do monstro é mais forte? Por que você não aderir a uma guilda. É a única maneira de se proteger.
Olá! Eu sou um guia Guild chamado Jack de Rudis. Selecione um item que você quer na janela de selecção.
Guild Establishment@Guild Admission/Guild List Check @Guild Management@Guild Information Owning the Castle
