143	Morak	10	5	1	2	3
Cura poção aumentar seu HP.
Mente poção aumentar seu MP para que você possa executar a mágica.
Vender os seus artigos para mim, eu vou oferecer-lhe um bom negócio. Você acha que eu estou mentindo? Hahaha ~ Como você sabia que?
Buy@Sell
