149	Wizard of Resurrection	29	5	0	6	1
Eu sou o Assistente da Ressurreição. Eu vou lhe fazer um favor e selecione onde você ressucitar quando uma tragédia acontece. Basta pressionar 'Ir para a vila "quando você morre. O que você gostaria de fazer?
Recuperação Position Check @Recovery in the Present Map
