366	안젤라	94	0	0	1	10
오늘 만큼은 사냥들 마음껏 즐기고 가세요~
제 남편 바르크는 나이가 들어도 항상 마음은 어린아이 같답니다~
저도 어릴 땐 어른이 되고 싶었지만, 지금은 가끔 철 없던 어린 시절로 돌아가고 싶네요~
우리 남편이 목장에서 일하는 모습을 볼 때면 정말 멋있어요!
저희는 공식적으로 인정 받은 몬스터 사육장이랍니다~!
남편이 그랬는데요! 여기 있는 헨치들은 모두 다 코어를 드랍한다고 하던데요? 열심히 사냥하면 코어를 얻을 수 있을 거에요!
여기 몬스터들은 헨치를 3단계로 인첸트 해주는 아이템을 드랍하기도 한다고 하던데요?
화뿔소 2단계랑 뭐랑 믹스하면 보드곤이 나온다고 하던데요?
캐빗은 보기에는 매우 약하게 보이지만 거대한 식물 몬스터인 나우렌을 믹스하는데 쓰인다고 하던데요? 역시 겉모습만 가지고 판단하면 안되겠지요?
레벨 75가 되면 들어갈 수 있는 우리 남편 목장에는 야자군, 자이언, 소드탑 등의 많은 몬스터가 있답니다. 얼른 레벨을 올려서 가보세요!