365	안젤라	94	0	0	1	10
오늘 만큼은 사냥들 마음껏 즐기고 가세요~
제 남편 바르크는 나이가 들어도 항상 마음은 어린아이 같답니다~
저도 어릴 땐 어른이 되고 싶었지만, 지금은 가끔 철 없던 어린 시절로 돌아가고 싶네요~
우리 남편이 목장에서 일하는 모습을 볼 때면 정말 멋있어요!
저희는 공식적으로 인정 받은 몬스터 사육장이랍니다~!
남편이 그랬는데요! 여기 있는 헨치들은 모두 다 코어를 드랍한다고 하던데요? 열심히 사냥하면 코어를 얻을 수 있을 거에요!
여기 몬스터들은 헨치를 3단계로 인첸트 해주는 아이템을 드랍하기도 한다고 하던데요?
남편이 말하지 말라고 했는데 참을 수 없어요! 쉿! 히어로님께만 알려드리는 비밀이에요! 뉴실버란샤랑 저기 있는 고쿠마랑 믹스하면 브라키가 된답니다!
남편이 말하지 말라고 했는데 참을 수 없어요! 쉿! 히어로님께만 알려드리는 비밀이에요! 저기 있는 그렘린 2단계와…..뭐더라 뭐랑 믹스하면 보드곤이 나온다고 하던데 생각이 잘 안 나네요.
레벨 60이 되면 들어갈 수 있는 우리 남편 목장에는 화뿔소, 봄버군, 삐에볼 등의 많은 몬스터가 있답니다. 얼른 레벨을 올려서 가보세요!