386	Aventureiro	40	5	0	1	5
쉿! 믹스법을 알려줄게~! 드라코와 플라코를 믹스하면 파이키가 나온다구!
쉿! 믹스법을 알려줄게~! 드라코와 데빌코를 믹스하면 바키르가 나온다구!
쉿! 믹스법을 알려줄게~! 드라코와 버드코를 믹스하면 크로아가 나온다구!
쉿! 믹스법을 알려줄게~! 메타코와 미스코를 믹스하면 유포드가 나온다구!
쉿! 믹스법을 알려줄게~! 버드코와 데빌코를 믹스하면 푸란이 나온다구!
