398	수비수 펜릴	547	3	0	1	20
이번 월드컵에 스웨덴, 크로아티아 같은 축구 강국들이 예선 탈락한 점은 아쉬워~! '즐라탄 이브라히모비치'와 '루카 모드리치'를 월드컵에서 볼 수 없는 건 슬픈 일이야~!
아프리카 최고의 공격수는 코트디부아르의 신! '디디에 드록바' 아니겠어? 하지만 카메룬의 흑표범 '사무엘 에투' 역시 엄청난 공격력을 가지고 있지~!
이번 월드컵에서 북한의 '정대세' 선수를 주목해야 한다고 생각해~! 이미 아시아 선수를 뛰어넘는 기량을 가지고 있다고 생각해~!
다음 2014년 월드컵은 브라질에서 개최가 확정되었어~!
'박지성'의 절친으로 알려진 '패트리스 에브라'와 '카를로스 테베즈'는 각각 프랑스와 아르헨티나의 핵심 선수들이지~!
우리나라는 1986년부터 2010년까지 7회 연속 본선 진출의 쾌거를 이룩하였어~! 
이탈리아의 '안토니오 카사노'는 뛰어난 실력도 불구하고 특유의 악동기질이 '리피' 감독의 눈 밖에 나는 바람에 대표팀에 승선하지 못하고 있어
아르헨티나의 '마라도나' 감독은 대표팀의 베테랑 선수들인 '하비에르 자네티'와 '에스테반 캄비아소'를 대표팀에서 제외시켰어~! 대표팀에서 리더십을 재대로 발휘하지 못하는 '마라도나' 감독이 자신보다 영향력이 큰 선수들을 팀에 두는 것을 싫어한다는 소문이 있어~!
'라이언 긱스'는 세계 최고의 축구선수이지만 한번도 월드컵에 출전한 적이 없어~! 긱스의 조국인 웨일즈는 주변국들에 비해 약하기 때문에 항상 지역예선에서 쓴잔을 마셔야 했지~!
뉴질랜드는 호주가 아시아 축구연맹으로 편입되면서 오세아니아 대표로 월드컵에 진출 할 수 있었지~!
월드컵 32강은 4명씩 편성 된 8개 조에서 상위 2개 팀만이 다음 라운드에 진출 할 수 있어~!
유럽 지역예선 최종 플레이오프에서 프랑스는 ‘티에리 앙리’의 핸드볼 반칙 덕분에 가까스로 마지막 월드컵 티켓을 손에 넣을 수 있었어~!
월드컵은 스타 탄생의 장이라고 할 수 있지~! 지난 월드컵에도 러시아의 ‘안드레이 아르샤빈’, 독일의 '루카스 포돌스키', 프랑스의 '프랭크 리베리', 체코의 '토마시 로시츠키' 가 월드컵을 통해 전 세계에 자신의 이름을 널리 알렸지~!
이번 2010 월드컵은 최초로 아프리카 대륙에서 개최가 된대~!
아프리카라고 하면 무지 더운날에 축구를 할 것 같지? 하지만 남아프리카공화국은 적도 밑에 있기 때문에 우리나라와는 정 반대의 계절을 가지고 있어~! 지금 남아프리카공화국은 겨울이라는 거지~!
남아프리카공화국의 몇몇 축구장은 산 위에 위치하고 있기 때문에 숨쉬기가 힘들어 선수들이 훨씬 힘들어한대~! 우리나라와 아르헨티나의 경기가 이런 곳에서 펼쳐지기 때문에 더욱 힘든 경기가 예상되고 있어~!
19번이나 열린 월드컵에서 제일 먼저 우승한 나라는 우루과이야~!
브라질이 5번의 우승을 가져간 최대 우승국이야~! 그 다음으로는 이탈리아가 4번, 독일이 3번, 우루과이와 아르헨티나가 2번씩 우승을 하였지~!
올해 전문가들이 뽑은 이변을 일으킬만한 나라는 세르비아와 코트디부아르로 선정 되었어~!
월드컵을 앞두고 가장 무서운건 역시 선수들의 부상인 것 같아~! 벌써부터 독일의 '미하일 발락'과 나이지리아의 '존 오비 미켈', 영국의 '데이비드 베컴'과 '리오 퍼디난드' 그리고 우리나라의 '곽태휘' 선수, '설기현' 선수가 부상으로 월드컵에 출전하지 못하게 되었지~!