518	Bonus Merchant	21	5	0	11	4
Oi! Meu nome é Bônus Man ~! Eu sou irmão gêmeo do Armazém Rudis's Keeper.
Eu troco os itens com as moedas previstas da loja.
Você não pode usar GP na minha loja. Você tem que trazer [Loja da moeda] para usar minha loja.
Não é a moeda normail mas apenas [Loja Coin] ... Ok?
Use Coin Shop