512	Iris	65	5	0	1	4
Bem-vindo à nossa cidade neve linda. @ How did you get here? O monstro aqui é tão difícil!
Purmai é famosa por sua caldeirada raposa da neve. você deve tentar algumas. @I have heard about Magirita, Ouvi dizer que é uma cidade bonita, com um grande castelo.
Relics of Sinan? Pode ser que você pode encontrar algo do Ruins of Silence. @I heard a rumour that under the ruins,há muitos grandes tesouros escondidos. Mas o que é o ponto! Nós não podemos mesmo ir lá!
As ruínas é muito perigoso. As crianças gostam é melhor você ir ao litoral em primeiro lugar.