511	Milla	71	5	0	1	4
É primeira vez na minha vida para ver tantos desconhecidos.
Desde a Torre do Silêncio desapareceu no céu, muitos monstros começaram a aparecer por todo lado! Ser criança cuidado, é perigoso uma vez que você sair dessa cidade.
É um pouco mais segura na área litorânea, se você comparar com outras áreas ao redor de nós. @You can get high quality potions and equipments from the town merchants.  
Porque você não ir e dar uma olhada?
