540	Item Builder	22	5	0	12	1
Bem-vindo ~ Obrigado pela visita.@I'm a builder who makes item. Não há nada que eu não posso fazer. Arma, Armor, acessórios, Poção e assim por diante...@In fack, I'm not so skillful as my master, eu não sou tão habilidoso como o meu mestre, por isso não posso lidar com o Livro de Produção .@But I'll do my best if you ask the other items below level 90!
To Make items