556	할로윈이벤트	45	5	0	2	1
안녕하세요. 전 할로윈 이벤트 담당인 드루이드 입니다. 이벤트 기간인 10월 25일부터 11월 1일까지는 할로윈 의상 변신 갑옷을 판매하고 있지요. 재밌게 생긴 할로윈 의상 변신 갑옷을 구입하셔서 이벤트를 만끽하세요. 추가로 할로윈 의상 변신 갑옷을 구입하시면 베스트 드레서 이벤트에도 참여하실 수 있는 기회가 주어진답니다.
산다
