609	Accessory Merchant	11	5	0	2	6
Vamos lá .. Eu vou vender o item mais barato ...
Eu tenho um monte de itens melhores que ninguém tem.
Aqui estão uma série de acessórios Anel, Bracelete, colar e assim por diante.
Basta passar se você não tem dinheiro. Não há nenhuma negociação para o item bom ~
Existem tantos tipos de anéis de bonito para sua namorada. Venha ~
Geneally falando, Ring faz aumentar o seu HP, MP Bracelete, Colar Accuracy.But você sabe que os itens do monstro tem boas opções de itens pagos.
Buy@Sell
