610	Armor Merchant	10	5	0	2	6
Armor é o item essencial de Monster Valor. Qualquer Valor que não tem armadura deve ter medo. Compre itens boa armadura. Come on! Abra sua carteira!
Eu sou um comerciante amror em Magirita. Não há comerciante que está vendendo mais barato do que eu em toda parte.
Você não sabe o que a armadura que você vai conseguir? O mais caro, melhor.
Oh meu deus! Devilco te machucar? Hm ... Não chore e comprar a armadura!
Você deve ter uma boa aromor porque seu hench não é suficientemente forte para protegê-lo. Você tem uma boa chance. Como sobre a compra de alguma coisa? Ah, você tem dinheiro, não é?
Por favor me dê os itens que você não precisa! Vou pagar-lhe generosamente ...
Buy@Sell
