617	Weapon Merchant	4	5	0	2	7
Arma é o item essencial de Monster Valor. Qualquer Valor que não tem arma deve estar assustado. Compre itens boa armadura. Come on! Abra sua carteira!
Eu sou um comerciante de armas na cidade. Não há comerciante que está vendendo mais barato do que eu em toda parte.
Você não sabe que arma você vai chegar? É melhor comprar espada se você estiver Ditt, junta de Jin.
Você não sabe que arma você vai chegar? É melhor comprar arma, se você estiver Phoy, seta para Penril.
Oh meu deus! Devilco te machucar? Hm ... Não chore e comprar a arma!
Você deve ter uma boa arma, porque o seu hench não é suficientemente forte para protegê-lo. Você tem uma boa chance. Como sobre a compra de alguma coisa? Ah, você tem dinheiro, não é?
Por favor me dê os itens que você não precisa! Vou pagar-lhe generosamente ...
Buy@Sel
