907	Ratz	13	5	0	1	6
Se você for atrás de mim, você pode ir para Owalljae pradaria.
Herseba é uma cidade pobre. Haha.
Eu costumava ser um ladrão. Pelo menos esta cidade me aceita.
Ahhh se o álcool só era mais barato.
Quando as pessoas me chamavam o mais rápido em mãos Herseba.
O que você está olhando para Punk?