900	Jed	5	5	0	1	5
Bem-vindo ao Mekrita.
Mekrita é uma cidade boa. Mas só recentemente o bar fechou. Cara, eu costumava ter um monte de brewskies lá.
Se você quiser ir para a área de batalha livre, conversar com a Assistente Warp.
Quando você pega um núcleo monstro, seu inútil até que revitalizá-lo com o construtor Mix
Ahhhhhhhhhhhhhhh pendurar overs.