901	Gosam	13	5	0	1	5
A natação é proibida, porque essa água é muito preciosa VeHerseba.
Se você apertar "Enter", você pode conversar. Pressione ESC para se livrar do cursor na janela de chat.
Enquanto estiver conversando, você pode conferir os textos anteriores, se você apertar "Page Up".
Você pode entrar na zona de batalha livre, sem o anel de warp.
Pressione Ctrl + Clique com o botão direito no seu personagem. Emoticons são possíveis!