908	Raj	13	5	0	1	5
É uma cidade pobre aqui, não há nada de especial aqui.
Eu sinto falta Magirita. Era um lugar agradável.
Ahhh.
Ouvi dizer que você pode ganhar esta nuvem especial que faz você se mexer rapidamente!
Assim, muitos monstros em torno desta cidade. Seja cuidadoso garoto.