902	Glen	5	5	1	1	6
Meu amigo foi atacado por um monstro Skullwiser ontem! É melhor evitar Skullwisers.
Por favor, tenha cuidado! O poder do monstro está ficando mais forte à medida que vão desde a Magirita Rudis.
Eu toco violão. Eu tenho uma banda também.
Você perguntou como revitalizar o núcleo? Saiba o construtor mistura. Ela vai te ensinar muito gentilmente.
Pressione "~"ao lado de um e ele vai controlar todos os do seu partido. Clique no rosto no canto superior direito de usar seus personagens individualmente.
Você quer um anel Warp? Eu tenho dois, oops desculpe são disposible.