906	Taj	26	5	0	1	4
Hey! Isto é incrível. A porta da antiga cidade está agora aberto. Aparentemente, há sério espelho precioso aqui!
Devo adverti-lo homem, há sério monstros agressivos aqui.
Assim, muitos guerreiros entraram e quase morreu. É melhor ter cuidado lá!
Boa sorte. Aparentemente, há 20 andares neste calabouço. Não posso sequer conseguir passar do 1 º andar lá dentro.