909	Rabi	13	5	0	1	5
Se você quiser lutar com alguns monstros fortes, vá para o Dungeon Reincurne em Fork Road. Eu fui lá uma vez e ainda ter pesadelos.
Oh querido. Está muito ferido!
Horned Mameo, você quer saber como misturá-lo? É uma mistura mameo e. E. Annnnnnd. Algo com um chifre.
Se você quiser ir para a área de batalha livre, olhar para o Assistente de Warp, o Big Pig.
Herseba é uma cidade boa! Ivan, o chefe é muito a pena a sua posição!