905	Davide	13	5	0	1	5
Se você vai para o norte, você pode chegar até a cidade de elfos, Rudis. Eu quero ir lá um dia, mas seu duro para chegar lá. Monstros por lá são muito agressivos.
Você tem um favorito Hench? Eu gosto Cowty. Eles são tão fofos!
Você pode fazer a batalha no campo de batalha livre, se você apertar o botão esquerdo do mouse e 'Ctrl'
Se o nome do monstro é vermelho, é melhor evitá-los, porque eles são muito mais fortes do que você.
Armaball olhos são suposto ser muito bom gosto!