903	Nassar	13	5	0	1	4
Não importa o que outros dizem, eu gosto Herseba muito! Talvez você vai gostar também.
Embora as pessoas são pobres, mas eles são muito agradáveis.
Bem-vindo ao Herseba, a cidade de bandidos!
A luta final é muito popular em Herseba.
Você quer jogar um garoto de poker?