912	Graham	13	5	0	1	6
O que uma pequena cidade VeHerseba é! Mas ainda não quero deixar ainda.
A cidade está zumbindo sobre a masmorra, finalmente, aberto.
Você sabe sobre Rojeta Dungeon? Aparentemente, o Jove lenda casted um feitiço nele. E no fundo não é esse espelho especial que aumenta seus pontos fortes, aparentemente.
Pressione "~" chave ao lado de um, e você vai selecionar todos os do seu partido.
Ei, eu vou lhe dizer um segredo. Para fazer com que este monstro com rodas motorizada e uma estrela com ele, a mistura não olhou motor dar-lhe um nível de item, e misturá-lo com este monstro mascarado. Ah, sim também dar a cara mascarada um item de misturar muito!
Por favor, tenha cuidado! Se a cor do monstro é o vermelho, o monstro será muito mais forte do que você.
