917	Macfarlane	7	5	0	1	4
Ei, eu ouvi um boato há este jogador misterioso Magirita. Seu nome é Priquwa ou algo assim
Se você entrar no Magirita do Norte, você pode ver muitos núcleos mortos. Você pode usar esses Núcleos como seu Henches se revitalizá-los.
Você sabe como usar as teclas de atalho? Basta arrastar a sua habilidade ou item para definir isso.
Fruity Lexia. Minha bebida preferida de todos os tempos!