913	Raiden	5	5	0	1	6
Se você percorrer esse caminho, você chegará na parte sul do Mekrita. Oh! É você de lá?
Você já viu o Hench mágico, Parapoong? Uau, que coisa é incrível!
Você deveria me ver lutas como um relâmpago.
Você deve participar de uma guilda para se juntar ao Affair Siege. Isso permitirá que você se tornar o MixMaster final.
Eu fui e bombeado alguns pesos ontem. Droga, eu estou ferida!
Você pode ter Turton se você misturar Goa com NortsNcross.