916	Ricky	5	5	1	1	5
Meu sonho era uma vez para se tornar um MixMaster. Mas estou satisfeito com o trabalho mais recente
Se você apertar "Enter", você pode fazer chat.
Enquanto estiver conversando, você pode conferir os textos anteriores, se você apertar "Page Up".
Enquanto estiver conversando, você pode rolar para baixo, se você apertar "Page Down" após a verificação dos textos anteriores.
Se você pressione a tecla "M", você pode ver o mapa inteiro.