918	Margo	13	5	0	1	4
Ouvi dizer que é uma habilidade chamada Super Healing Wave. Aparentemente, ele pode curar mais de uma pessoa ao mesmo tempo. Que milagre.
Você sabe, há itens chamados encantamento Hench? Apparenly Henches necessidade de misturar esses monstros em alto grau.
Aparentemente, há itens que reforçam o seu milagre monstros!
Se você está cansado, tecle 'p' e sente-se! Seu irá recuperar sua força!