920	Miles	5	5	0	1	4
Embora tenha uma bela paisagem, eu estou cansado desse lugar! Tenho saudades do deserto de Herseba ~
Eu usei para a batalha no campo de batalha, muitas vezes gratuitamente. Cara, eu costumava ser imbatível. Você quer challenege? Ummmm. . . . Desculpe a minha esposa não quer me prejudicar mais randoms. Talvez da próxima vez
Você pode fazer a batalha no campo de batalha livre, se você apertar o botão esquerdo do mouse e 'Ctrl'
Eu lutei contra um monstro chamado Lausta uma vez. Uau, que coisa que me deu uma surra enorme em todos os sentidos.