928	Badol	13	5	0	1	4
Discode é o Deus que fez o diabo. Vai ser muito medroso, se ele aparece no meu sonho.
Você já viu uma árvore de andar? Eles são tão esquisito!
Você pode obter um monstro se você misturar um Pengie com um dragão.
Pessoas especiais podem usar magia. Eu não sou especial. Você acha que você é especial?