923	Carpenter Richy	1	5	0	1	4
Eu me pergunto o que está na ilha. Você quer saber sobre ele?
Um dia, essa ilha ter colidido com Valcan Vale e produziu um som alto. Muitas pessoas ouviram o som e vim aqui e eles descobriram que a ilha
As pessoas dizem que deve haver as relíquias do Sinan na ilha, se não, como pode ser possível para a ilha para colidiram e se mudou?
Eu quero ir para a ilha, se a ponte for construída completamente.