922	Mayer	24	5	0	1	6
Por que você não visite o construtor de mistura. Os anciãos de Rudis estão reunidos aqui. Por favor, mantenha longe daqui!
Não vá perto da casa dos fundos embora. Um cientista estranho mora lá. Trabalho sobre monstros ou algo assim.
Ctrl + botão direito do seu personagem!
Clique direito sobre os outros jogadores a fazer alguns recursos extras com eles.
Gostaria que essa arma arco?
Droga, eu estou com fome. Seu duro para conseguir comida aqui desde monstros são tão fortes.