924	Mac	13	5	0	1	5
Ah! Eu realmente quero ter Battledragon
Eu sei como fazer um duque de fogo, se você me pedir que eu poderia dizer.
Por isso muitos Mixmasters mendigar? Está na sua natureza?
Você pode atacar no campo de batalha livre, se você apertar o botão esquerdo do mouse e 'Ctrl'
Meu nome é Antônio. Com uma silenciosa h.