925	Mutu	13	5	0	1	5
Sempre que eu comer alguns cactus, fico feliz, então, cuidado.
Sempre que eu bebo suco de laranja, eu vomitar, por isso esteja atento.
Greentail, que criatura linda. Aparentemente você pode obtê-lo através da mistura de um dragão em pé e um grande pássaro.
Você tem uma irmã mais velha? Você quer apresentá-la para mim?
O preço da mistura depende da mistura de monstros.