933	JP Walkom	5	5	0	1	6
Eu sou um guarda muito bom! Se os monstros vem, vou dar-lhe uma bomba de alimentação!
Cara, eu perdi grande no poker a noite passada ... O Jack matou-me outra vez!
Você pode ter Asakayza se você misturar um PayaPaya com Bubri.
Se é sua primeira vez para a batalha, é melhor pegar o Beasco, Draco e Birdco. Estes são os mais fracos monstros neste jogo.
Desculpe, eu não estou me sentindo muito bem hoje, tinha bebido um pouco demais na noite passada.
Você pode ter Buma se você misturar Devilco e Caminho.