932	Ben	5	5	0	1	6
Para proteger a estátua e fonte é a minha responsabilidade! Continue seu caminho ~
O nome do monstro que está apto a lutar com você é aparecido na cor amarela.
Se você pressione a tecla "M", você pode ver o mapa inteiro. Por que você não verificá-lo agora!
Se você quiser ir para a área de batalha livre, procure a Assistente Warp. Sim, o porco. Shoosh! Ele é muito sensível sobre ela.
Eu li em um livro em algum lugar, não há sala de aula ao ar livre especial em algum lugar entre Herseba e Rudis. Aparentemente, as lições secretas ocorrem lá de vez em quando.
Quando eu vejo um monstro com seu nome de vermelho, eu fujo como uma menina pequena escola perseguido por um rato sujo. Então, se você!