935	Shev	13	5	0	1	4
VeHerseba está sendo atacado por monstros quase todos os dias. Scary hey.
Vá dar uma olhada na Dungeon! Sua incrível!
Ataque Lausta língua é assustador. Você já lutou com Lausta?
Costelas, eu tinha costelas para o almoço.