931	Bulg	5	5	0	1	2
Se você vai para esse caminho, você vai chegar ao leste do campo Mekrita. Vá lá para pegar alguns monstros.
Eu costumava sonhar em se tornar um tratador de zoológico uma vez. Eu donno o que aconteceu.