938	Shudan	13	5	0	1	5
Preciso apenas água e sombra.
Skullwiser é um Hench atraente. Ele vem da mistura Mahollow com Nightlme.
Meu favorito é Hench Torra. Você sabe por que quando você vê um Torra sessão.
Você está perdido? Por que você não pressione a tecla 'M', você não será mais perdido.
Estou com fome. Dá-me um pouco de comida.