934	Sandon	13	5	0	1	4
Rudis, o vilarejo elfo. Não há muito para ser honesto.
Oh! Está a partir da escola monstro de Magirita. Lembre-se de mim? Você ainda está tentando se tornar um MixMaster? Lixo, desistir e começar uma vida real como eu.
Estou tão ocupado, contando frutas, contando com animais, a limpeza dos quartos para as pessoas. Eu sou um homem vital por aqui.
Eu sei como fazer um FireDuke, mas eu não estou lhe dizendo.