937	Jonty	5	5	0	1	5
A posse de Magirita Castelo e Castelo Mekrita bem como o título de melhor MixMaster se lutou por toda semana, no Sítio Affair.
Você já viu um monstro chamado Kugutu? É ¡¯ sa monstro enorme múmia envolta em bandagens. Aparentemente, seu poder é incrível.
Eu gosto de sair navegando, você sabe, na sala verde.
Menina Wassup? Estou apenas treinando para a festa de hoje à noite!
Flowco é o monstro mais fraco entre as séries de plantas. Se você é um iniciante, talvez você deve pegar um Flowco.