939	Stoll	5	5	0	1	4
Você deseja ver meus movimentos lança?
Você deve comer muito antes de você sair para uma aventura.
Verifique se você tem um monte de poções. Spamming Pot é uma habilidade importante a ter.
Mixmasters são sempre tão arrogante. Eu odeio eles! Oh você é um? Não mentir é muito jovem!