930	Bash	5	5	0	1	4
Você já ouviu falar da Hammer Ultra? Pode ser mito, mas aparentemente uma arma chamada que existe. E o que é pior ainda, dos weghs 100tonnes!
Ice creaaaaam. Dê-me algum creaaaam gelo!
Se você apertar "Enter", você pode conversar com outras pessoas.
Free área de batalha é o lugar onde você pode competir com seus companheiros e eachother luta.