943	Chow	5	5	1	1	4
Magirita é uma cidade que é preparado todos os tempos.
Se você pressione a tecla "M", você pode ver o mapa inteiro. Por que você não verificá-lo agora!
Você já viu um monstro que andava em uma nuvem? WOW! Essa é uma Mitra, um dragão. Você pode obtê-lo se você misturar um dragão com uma Pengie.
Eu tenho um sonho um dia ser um palhaço. A roupa colorida, malabarismo coisas, fazer as pessoas rirem.
