941	Sitter	5	5	0	1	6
Você não tem permissão para entrar aqui.
Por favor, não perturbe! Eu estou trabalhando agora.
Ataque Lausta língua é assustador. Alguma vez você já brigou com um Lausta?
Aparentemente, não é este Dragão, que pode reviver monstros mortos. Apenas um boato que ouvi.
Não é uma reunião importante aqui. Por favor, fique quieto.
Só Deus sabe a verdade.