949	Absol	5	5	0	1	6
Não há nenhum ponto apenas segurando sua arma, armadura ou acessórios. Para ter qualquer efeito, você deve equipá-los arrastando-os para o seu corpo na janela do item.
Pressione 'P' e você pode sentar-se!
A melhor coisa sobre Magirita, é a praia na parte de trás. Adoro pegar boas ondas de vez em quando.
Quando você morrer, clique em "ir à vila"e este deve levá-lo de volta para a última posição que você falou com o assistente ou Ressurreição.
Flowco é o monstro mais fraco entre as séries de plantas. Se você é um iniciante, talvez você deve pegar um Flowco.
Aparentemente, há missões que lhe dará pontos stat livre capacidade de realização.