940	Shawn	5	5	0	1	3
Wow eu estou cansado, u quiser trocar comigo e ficar aqui 24 / 7 para o resto da sua vida?
Você pode ter o PayaPaya que está incluído na série da planta se você misturar com Pee Nosie.
Micose pode ser feita através da mistura com Ukki Goa.