942	Alex	13	5	0	1	5
Oh! Você é um valor monstro. Bem-vindo ao VeHerseba!
O Henches você é fraco. Você tem medo de misturar?
Sinta-se livre para beber água. É livre, porque eu não sou um comerciante.
Hmm você olhar forte. Já tentou o Free Battle Zone ainda?
Você já ouviu falar da Estrela lágrima? Aparentemente, ele encanta as armas e todos os equipamentos.