945	Altar	24	5	0	1	6
Oh, eu não vi u por aqui. Olá eu sou o Altar.
Não vá perto da casa por trás da Mix Builder. Um assistente weirdo vive lá.
Aparentemente, quando um gato com fang come um tomate com asas, que gato se torna mais forte!
Os elfos Rudis amo a natureza e paz. Se alguém destruir, eles não podem sobreviver.
Você acha que Dashabell são assustadores? Aparentemente, existe um animal que é ainda mais mal do que eles! Como é assustador!
Ballza fora. Uma árvore selvagem. Você pode obtê-lo através da mistura de uma grande árvore com um inseto 6 olhos.