944	Andul	13	5	0	1	5
Eu gosto comerciante acessório que está sobre o oásis. Mas ela não se importa com meus sentimentos.
Eu queria ser um MixMaster como você. Eu sei que não tenho talento embora.
Certa vez, travaram uma Pengie. Ele quebrou as duas pernas e um braço. Ele fugiu com minhas calças também.
Se você misturar com PayaPaya Bubri, você irá produzir Asakayza que está incluído na série de insetos.
Você já viu uma Parapoong ainda? É o sonho de todos os MixMaster Hench.