948	Absalrom	13	5	0	1	5
Eu cresci em Rudis. É muito difícil viver lá. Os monstros são extremamente agressivos por lá.
Você gosta disso última moda em VeHerseba? Essa engrenagem principal. Então, é quente.
Você pode fazer Lausta misturando algum dragão vermelho fina e uma joaninha.
Tem que amar cactus frito.
Meu pai costumava ser um MixMaster. Ele sempre me disse sobre este livro. Valor do livro? Aparentemente, é incrivel. Eu donno porquê.