950	Anoc	13	5	0	1	6
Hey! O que é um garoto como você está fazendo neste canto? Vá para casa!
Você quer comprar algumas coisas engraçadas de mim punk?
Greentails escala, a pele é bombeado, rodas de SHoopedUp, in Cozinhe tudo junto e maldita!
Cigerettes são ruins para você! Mas cacto seco é bom para comer.
Ei, você pode usar a respiração do fogo? Quero cozinhar meu marshmallow.
Você sabe o Cabbager que está incluído na série de insetos? Você pode produzir o Cabbager se você misturar com Jamoo Bookworm.