956	Oz	5	5	0	1	5
Torra é um monstro bonito. Mas preste atenção quando fica brava! Eu aprendi isso da pior maneira.
Dashabel fraqueza é a sua pata dianteira. Muito frágil!
Eu vi uma raposa branca vez na minha vida. Era tão lindo.
Cowty. Sua vaca um evoluído, mas tem gosto de frango.
Eu gosto de animais. Eu cresci em uma fazenda perto de Rudis.