957	Usra	13	5	0	1	7
Você já viu aquelas pessoas especiais que andar rápido e outras coisas? Aparentemente, eles são chamados de mestres ou algo assim. Quem são eles eu me pergunto.
Aparentemente há uma terra muito distante, que é tão frio o ano todo e neva todos os dias. Ah eu sou ciumento. É tão quente aqui!
Aparentemente, há armaduras lendárias que você usá-lo, e os monstros não ¡¯ t atacá-lo. Isso seria bom. Meu avô mora em Rudis e é difícil chegar lá. Assim, muitos monstros agressivos em torno daquele lugar.
Você pode entrar na zona de batalha livre, sem o Anel Warp.
VeHerseba é uma cidade bonita se você se acostumar com isso.
Mistura. O que uma arte.
Eu construí essa casa com as minhas mãos!