954	Oki	5	5	0	1	5
Hahaha olha para o seu Henches, eles parecem inúteis. Precisa de mais mistura, meu amigo!
Se é sua primeira vez para a batalha, é melhor pegar o Beasco, Draco e Birdco. Estes são os mais fracos monstro do mundo!.
Se vc quer misturar, eles devem estar no estado do núcleo. Não está em um estado Hench. O que significa que eles não podem andar por aí com você.
Eu tenho um filho de sua idade. Seu nome é Zoran.
O monstro mais fraco da série planta é Flowco. Se você é um novato, você pode pegar o Flowco.