955	Yohan	13	5	0	1	4
Quando fui para Magirita pela primeira vez, fiquei espantado com a quantidade de água que eles têm lá!
Você já ouviu falar do nosso calabouço nesta cidade!? Sua incrível!
Cuidado com BlazeRhino! As criaturas maldito usa meteoros.
Aulas de dança tribal estão em todas as terças-feiras no VeHerseba.
