952	Diouf	13	5	0	1	5
Eu sinto falta da água fresca do Magirita ~. Hoje é tão quente.
Ataque Lausta língua é assustador. Você já lutou com Lausta?
Você sabe que todos esses monstros fora não são todos os monstros? Alguns deles são pessoas más transformando em animais e seres humanos de ataque. Que nojo.
Você pode fazer a batalha no campo de batalha livre, se você apertar o botão esquerdo do mouse e 'Ctrl'
Pressione "p" e você pode se sentar e descansar.