959	Ivan	13	5	0	1	5
Onde está você? Você é da Mekrita? Ou .. VeHerseba? Enfim, bem-vindo ao Herseba.
Eu sou o chefe da cidade, Ivan. Eu me tornei o chefe, porque eu bater Ratz na queda de braço, eu sou muito forte!
Herseba pessoas são todas boas. Pelo menos a sua cara.
Você já foi para o nosso pub aqui ainda? A melhor parte da cidade! Ah, você ainda menor de idade. Má sorte!
Já conheci pessoas especiais chamados GMs? Todos eles têm habilidades especiais e têm Henches ridiculosly forte. Ahhh sonho de todos é ser um GM, que são eles afinal?