962	Beginner's Guide	5	5	0	1	7
Você pode verificar os detalhes do item, clicando no botão do lado direito do seu mouse.
Ervas faça o seu aumento de força física em um instante.
Recebeste as ervas? 'U' Carregue em seu teclado e clique duas vezes na erva. Em seguida, clique sobre o rosto do personagem que está no lado direito da janela do jogo.
Você pode comprar as armas e armaduras do comerciante de armas na cidade de Magirita que você veio antes.
Se você apertar "P" no teclado, o herói estará no modo de sentar e acelerar a recuperação física da força será muito mais rápido.
Para misturar um monstro, você deve começar a partir de núcleos de caça.
Se você pressionar 'T' no teclado, você pode conferir todas as cores que você tenha coletado até agora.