964	Beginner's Guide	5	5	0	1	9
Você pode ter um Buma bonito se você misturar com Devilco Caminho.
Você pode ter Bebe se você misturar com Devilco Rabbo.
Você pode ter Nosie se você misturar com Chicoe Rabbo.
Você pode ter Goa se misturam com Rurubbi Beasco.
Você pode ter um Chicoe bonito se você misturar Inseco com Draco.
Você pode ter um Caminho se você misturar com Devilco Inseco.
Você pode ter um Pee se você misturar Inseco com Draco.
Você pode ter um leitor ávido, se você misturar com Inseco Beasco.
Você pode ter um Metalocks se você misturar METACO com Draco.