961	Beginner's Guide	5	5	0	1	7
Se o nível estiver entre 1 ~ 5V, você pode pegar Draco, Inseco e METACO nesta área. Porque eles são os monstros mais fracos mais.
Este campo é para o novato. Se você quiser pegar mais forte monstro, vá para outro campo.
Se o valor da sua experiência torna-se 100%, o herói vai fazer subir de nível e obter 5 pontos valor de reposição.
O nome do monstro que está apto a brigar com você aparece na cor amarela.
Se você pressione a tecla "M", você pode ver o mapa inteiro.
Você quer usar sua arma? 'U' Carregue em seu teclado e clique duas vezes na arma e armadura.
Os itens de série Seraf pode ser usado se o nível for superior a 5 nível.