968	Kim	24	5	1	1	4
Você veio aqui de Magirita? Uau você deve ser uma coisa pouco forte. É muito difícil aqui.
Você sabe que, fora Dashabell? Você quer saber como misturá-lo? Um tigre com estrelas e um dragão verde. Não se esqueça de usar a versão de itens também!
Esse cientista do mal. Eu me pergunto o que ele está crescendo. Eu gostaria de ver o futuro.
Kim? Sim, sou eu. Eu sou um homem.