963	Beginner's Guide	5	5	0	1	6
Se você quiser fazer dormir Core como seu amigo, você deve visitar o NPC Mix e recuperar o Core.
Cores vitalizado quero ser seu amigo. Por favor, clique duas vezes na Núcleos vitalizado.
O núcleo é ..? É a condição básica de ovos de todos os monstros e Henches.
O que é um Hench? Hench é semelhante ao monstro, que é seu amigo que obedecer às ordens único herói.
Se você deseja recuperar Core, misturar e mudar o nome do Hench, por favor visite construtor mistura que está na cidade de Magirita.
Você pode ter o Chicoe que está incluído na série de aves se você misturar Inseco com Draco.