960	Iris	65	5	0	1	4
Bem-vindo à nossa cidade neve linda. @ Como você chegou até aqui? O monstro aqui é tão difícil!
Purmai é famosa por sua caldeirada raposa da neve. você deve tentar algumas. @ eu ouvi falar Magirita, ouvi dizer que é uma cidade bonita, com um grande castelo.
Relíquias do Sinan? Pode ser que você pode encontrar algo do Ruins of Silence. @ eu ouvi um boato de que sob as ruínas, há muitos grandes tesouros escondidos. Mas o que é o ponto! Nós não podemos mesmo ir lá!
As ruínas é muito perigoso. As crianças gostam é melhor você ir ao litoral em primeiro lugar.