965	Beginner's Guide	5	5	0	1	8
Se você deseja recuperar Core, misturar e mudar o nome do Hench, por favor visite construtor mistura que está na cidade de Magirita.
O núcleo é ..? É a condição básica de ovos de todos os monstros e Henches.
O que é um Hench? Hench é semelhante ao monstro, que é seu amigo que obedecer às ordens único herói.
O núcleo, que é usado para a mistura deve ser um núcleo vivo.
O núcleo, que é usado para a mistura deve ser um núcleo vivo.
Se você pressione a tecla "M", você pode ver o mapa inteiro.
Se o valor da sua experiência torna-se 100%, o herói vai subir de nível e obter 5 pontos valor de reposição.
Recebeste as ervas? 'U' Carregue em seu teclado e clique duas vezes na erva. Em seguida, clique sobre o rosto do personagem que está no lado direito da janela do jogo.