966	Ken	13	5	0	1	3
Eu respeito a Jove que construiu Magirita. Mas a sua Herseba não! É a primeira vez que visita Herseba?
Herseba é famoso por ... Sua quantidade de bandidos.
Sinta-se livre para dormir em qualquer lugar perto da minha casa!