969	Tarin	5	5	1	1	5
Você gosta de poesia? Às vezes escrevo um poema sob a luz da rua à noite!
Eu gosto de comida indiana. Rogan josh ..
Eu sempre só quero pular nessa água.
Estou Tarin, eu quero ser seu amigo.
Você pode aprender habilidades em Magirita.