967	Cleo	7	5	0	1	4
Uau um garotinho como você um MixMaster? Eu devo estar ficando velho.
É um lindo dia de hoje, vivo para um piquenique?
Não desista do sonho de se tornar um MixMaster.
Pressione a tecla Tab para alterar a lista de atalhos.