974	Jones	5	5	1	1	4
Eu queria ser um MixMaster quando eu era jovem. Mas eu não tenho o dom, mas ao invés disso, eu estou tentando me tornar um atleta profissional. Um jogador profissional de ping pong!
Ei mano! Eu estou indo para uma festa hoje à noite. Todas as sugestões que eu posso usar?
Para o ataque, na Batalha Zona Franca, você deve pressionar Ctrl e clique sobre o seu alvo.
Se você quiser ir para a área de batalha sem lutar Mixmasters outras, fale com o Wizard Warp. Você pode ir lá de graça, sem o anel.