972	Hagan	13	5	0	1	6
Bem-vindo ao VeHerseba
Você é da VeHerseba do sul?
Lausta bife! Melhor refeição no VeHerseba!
Ouvi dizer que você conseguir um monstro forte quando você mistura um animal grande, com um gato verde, você tem uma besta mesmo mesquinhas. Ah, aparentemente, os itens são necessários muito embora.
Recentemente, descobrimos uma masmorra no VeHerseba. Poderia se tornar um ponto turístico boa lá!
Você tem falado com Shira? Suas lágrimas são incríveis! Você deveria dar uma olhada. Ela fica perto Monez.