983	Ruwen	71	3	0	1	5
Afaste-se ou vai se machucar!
Cante uma canção~
Não me toque! Eu estou em um estado de espírito!
Eu sou um cara mau~ Você não sabia disso?
Me dê seu core~ Ele parece deslumbrante..
