1189	Grocery Merchant	10	5	0	2	6
Estou vendendo Potions de Sinan, ótimas para uso! Dê uma olhadinha ~! 
Eu nunca pensei que poderia faze negócios por aqui.
Isso me custou 2,000,000 GP para chegar até aqui, mas valeu a pena.
[Sinan cheap healing potion] tem a taxa de Recuperação de HP muito boa!
Eu gostaria de vender Potions de qualidade melhor, mas eu não tenho ainda. Talvez eu venda Potions melhores com preços bons quando eu tiver.
Bem vindo! [Sinan cheap healing potion] está à venda agora!
Buy@Sell
