1195	Grocery Merchant	10	5	0	2	7
Estou vendendo Potions de Sinan, ótimas para uso! Dê uma olhadinha ~! 
Eu nunca pensei que poderia faze negócios por aqui.
Isso me custou 2,000,000 GP para chegar até aqui, mas valeu a pena.
[Book of Production] que cria [Floating core] com [Floating gemstone] está a venda! [Seed of Purification 2nd stage] é um material essencial!
[Sinan super healing potion] é MUITO boa! Compre algumas antes que acabe!
Bem vindo! [Sinan super healing potion] está a venda agora!
O céu quando olhado por aqui é mais bonito, não é??
Buy@Sell
