1190	Grocery Merchant	10	5	0	2	6
Estou vendendo Potions de Sinan, ótimas para uso! Dê uma olhadinha ~! 
Eu nunca pensei que poderia faze negócios por aqui.
Isso me custou 2,000,000 GP para chegar até aqui, mas valeu a pena.
[Book of Production] pode criar [Floating gemstone] com [Floating stone piece], está a venda! [Seed of Purification 1st stage] é um material essencial!
Finalmente, eu posso vender mais uma das Potions de Sinan! Compre uma!!
Bem vindo! [Sinan healing potion] Está a venda agora!
Buy@Sell
