1193	Grocery Merchant	10	5	0	2	6
Estou vendendo Potions de Sinan, ótimas para uso! Dê uma olhadinha ~! 
Eu nunca pensei que poderia faze negócios por aqui.
Isso me custou 2,000,000 GP para chegar até aqui, mas valeu a pena.
[Book of Production] que cria [Floating core] com [Floating gemstone] está a venda! [Seed of Purification 2nd stage] é um material essencial!
[Sinan nice healing potion] é ÓTIMA! Compre algumas, estão acabando!
Bem vindo! [Sinan nice healing potion] está a venda agora!
Buy@Sell