1208	믹스빌더	3	5	0	4	5
흑강시(1단계)와 어떤 헨치를 믹스하면 지옥문을 열고 나온 헬보이라는 헨치를 얻을 수 있다고 하네요!
여기서 드랍되는 코어 인첸트 아이템으로 코어를 3단계까지 인첸트를 한다면서요?
바르크님은 어떻게 이렇게 많은 헨치들을 키우고 계실까요? 대단하세요
여기는 정말 많은 몬스터가 있네요! 헨치 믹스는 저에게 맡기세요!
몬스터와의 전투에서 헨치를 잃었다고 너무 슬퍼하지 마세요. 왜냐구요? 제가 죽은 코어를 살릴수 있거든요.
코어회복@믹스@믹스 스킬 확인@헨치 이름 바꾸기@코어판매 