1664	Mix Builder	3	5	0	4	6
Há rumores de que uma pessoa que veio de Artreia oriental é coletar moedas de ouro. Artreia? É um lugar muito longe de Rudis.
Você é muito corajoso. Um covarde não seriam capazes de chegar até aqui. Mas, você deve ter cuidado. Há muitos monstros fortes em torno.
Por que você não vai lá? Você pode mudar os itens que podem ser anexadas em moeda de ouro e Henches.
Eu revitalizar Núcleos mortos e Núcleos mixagem ao vivo para o seu. Você pode ter mais monstros poderosos, se a sua mistura bem-sucedida.
Se você deseja alterar os nomes de seus Hench, trazer o Hench para mim. Vou fazê-lo gratuitamente, apenas para você!
Se você cobrança Core 'clique na janela de seleção, você pode revitalizar todos os seus Núcleos mortos.
Recuperação Core@Mix@Mix teste de pericia@Hench Alterar Nome@Core Venda
