1683	兵斌	27	5	0	1	4
[兵斌]@@怪物们的力量越来越强了。@你也是来参加战争的吗？@我代表村民表示非常感谢。						
[兵斌]@@我身后的勇敢的青年们，@是为了守护村庄而聚集在一起的警卫兵们。@准备好了和他们一起战斗吗？						
[兵斌]@@不知道突然出现什么事，@但是，终归什么时候还是会和怪物大干一场的预感。@现在好像就是大干一场的时候。						
[兵斌]@@大家准备好了吗？@（是的！）@听不到！@在大声点！@（是的！！！！！！！！）						
