1	Cabo
2	Sargento-MOR
3	Sargento-Chefe
4	Sargento-Ajudante
5	1튥argento
6	2튥argento
7	Furriel
8	2튔urriel
9	Soldado Instruendo
10	Soldado Cadete
11	Aspirante a oficial
12	Alferes
13	Tenente
14	Capitao
15	Major
16	Tenente-Coronel
17	Coronel
18	Brigadeiro-General
19	Major-General
20	Tenente-General
21	General
22	Perito MixMaster
23	Novato MixMaster
24	Matador
25	Elite
26	Rico
27	Sou TOP!
28	Mixador
29	King Garugon
30	Matador de Dragao
31	권투왕
32	격투왕
33	박투왕
34	격투의신
35	격투의지존
36	유랑검사
37	중검사
38	고검사
39	검두자
40	질풍검사
41	창람검사
42	도룡검사
43	독고구패
44	견습사수
45	고급사수
46	활대사
47	활공격왕
48	활명중왕
49	활왕
50	활정확왕
51	활지존
52	유람자
53	노점왕
54	던전가이드
55	새로운선택
56	재생자
57	빙과배달원
58	우편배달원
59	빵집주인
60	행운의왕
61	죽음과안녕
62	마법만땅
63	공격자
64	바람의통행인
65	신의축복
66	숲속의왕
67	루나틱친구
68	사랑의수호자
69	모험가
70	성별교환사
71	제사장
72	심판자
73	왕의수호자
74	신의수호자
75	주교
76	붉은옷주교
77	교황
78	추구자
79	탐색자
80	구세주
81	반주자
82	사랑의천사
83	초심자
84	슬픈사람
85	프로수집자
86	던전의친구
87	감동받은사람
88	울보
89	마법거울의요정
90	유리인형
91	평민
92	기사
93	남작
94	자작
95	백작
96	후작
97	공작
98	상가적인
99	피산포기적인
100	침수중적인
101	유망주
102	십대걸출청년
103	십대낙백청년
104	오뇌불이적인
105	몽상애정적인
