1	op
2	warp
3	summon
4	ban
5	issue
6	serverdown
7	connect
8	Userwarp
9	allwarp
10	letban
11	zoneissue
12	checkrate
13	changerate
14	item
15	hench
16	summonmonster
17	zonetime
18	gametime
19	reload1
20	reload2
