1	0	??? ??
2	0	??? ??
3	0	??? ??
4	0	??? ??
5	0	???? ??
6	0	??? ??
7	0	??? ??
8	0	??? ??(??)
9	0	??? ??(??)
10	0	???? ??
11	0	?????
12	0	?????
13	0	??? ??
14	0	????? ??
101	1	??? ? 1?
102	1	??? ? 2?
103	1	???? ??
104	1	??? ?? 1?
105	1	??? ?? 2?
106	1	??? ?? 3?
107	1	??? ?? 4?
108	1	??? ??? ???
109	1	????? ??(Lv30)
110	1	????? ??(Lv50)
111	1	????? ??(Lv70)
112	1	????? ??(Lv90)
113	1	????? ??(Lv100)
114	1	??? ??? 1?
115	1	??? ??? 2?
116	1	??? ??? 3?
117	1	??? ??? 4?
118	1	??? ??? 5?
119	1	??? ??? 6?
120	1	??? ??? 1?
121	1	??? ??? 2?
122	1	??? ??? 3?
123	1	??? ??? 4?
124	1	??? ??? 5?
125	1	??? ??? 6?
126	1	??? ??? 1?
127	1	??? ??? 2?
128	1	??? ??? 3?
129	1	??? ??? 4?
130	1	??? ??? 5?
131	1	??? ??? 6?
132	1	??? ??? 1?
133	1	??? ??? 2?
134	1	??? ??? 3?
135	1	??? ??? 4?
136	1	??? ??? 5?
137	1	??? ??? 6?
138	1	?? ?? ??? 1?
139	1	?? ?? ??? 2?
140	1	?? ?? ??? 3?
141	1	?? ?? ??? 4?
142	1	?? ?? ??? 5?
143	1	???? ?? 1?
144	1	???? ?? 2?
145	1	???? ??
146	1	????? ???? ???
147	1	??? ??
148	1	??? ??
149	1	????? ??
150	1	???? ?? 1?
151	1	???? ?? 2?
152	1	???? ?? 3?
153	1	???? ?? 4?
154	1	???? ?? 5?
155	1	??? ??? ??! ?? 10? ????!
156	1	??? ??? ??! ?? 20? ????!
157	1	??? ??? ??! ?? 30? ????!
158	1	??? ??? ??! ?? 40? ????!
159	1	??? ??? ??! ?? 50? ????!
160	1	??? ??? ??! ?? 60? ????!
161	1	??? ??? ?????!
162	1	?? ??? ???!
163	1	??? ?? ?? ????? ????!
164	1	Vlagem de Anttoly!
165	1	??? ??
166	1	??? ??
167	1	??? ???? ???
168	1	??? ??
169	1	??? ?? 1?
170	1	??? ?? 2?
171	1	???? ??
172	1	??? ???
173	1	????? ?? ??
174	1	??? ??? ??? ???
175	1	??? ??
176	1	??? ??? ??? ???!(1??)
177	1	??? ??? ??? ???!(2??)
178	1	??? ??? ??? ???!(3??)
179	1	??? ??? ??? ???!(4??)
180	1	??? ??
181	1	????? ???? ???!
182	1	???! ???? ????!
183	1	???! ? ? ?? ???!
184	1	?? ?? ??(?? ???!)
185	1	??? ??? ???!
186	1	(??)??? ? ?? ??
187	1	?? ?????!
188	1	Para que servem as terriveis estatuas?
189	1	Pedra flutuante no corpo de Dragoes??
190	1	Pedra flutuante no corpo de Devils??
191	1	Pedra flutuante no corpo de Plant??
192	1	Pedra flutuante no corpo de Mystery??
193	1	Coletado Pedras!(2nd floor)
194	1	Coletado Pedras!(3nd floor)
195	1	Coletado Pedras!(4nd floor)
196	1	Coletado Pedras!(5nd floor)
197	1	Coletado Pedras!(6nd floor)
198	1	Coletado Pedras!(7nd floor)
199	1	??? ??? ????!
200	1	??? ????!
201	1	??? ??? ????!
202	1	??? ????!
203	1	??? ??? ????!
204	1	??? ????!
205	1	??? ??? ????!
206	1	??? ????!
207	1	Coleção Barroco Core(LV 100 PunchLava) 
208	1	Coleção Barroco Core(LV 110 LampNSocket)
209	1	Coleção Barroco Core(LV 120 Beetleger)
210	1	Coleção Barroco Coren(LV 130 SoldierHawk)
211	1	Coleção Barroco Core(LV 140 Poisoner)
212	1	Pedaço de pedra flutuante no corpo?(Beast)
213	1	Pedaço de pedra flutuante no corpo?(Bird)
214	1	Pedaço de pedra flutuante no corpo?(Insect)
215	1	Pedaço de pedra flutuante no corpo?(Metal)
237	0	King Garugon Soul Set:Armlet(Dragon)(135Lv)
238	0	King Garugon Soul Set:Helmet(Dragon)(135Lv)
239	0	King Garugon Soul Set:Necklace(Dragon)(135Lv)
240	0	King Garugon Soul Set:Ring(Dragon)(135Lv)
241	0	King Garugon Soul Set:Boots(Dragon)(135Lv)
242	0	King Garugon Soul Set:Gloves(Dragon)(135Lv)
243	0	Anubis Soul Set:Armlet(Devil)(135Lv)
244	0	Anubis Soul Set:Helmet(Devil)(135Lv)
245	0	Anubis Soul Set:Necklace(Devil)(135Lv)
246	0	Anubis Soul Set:Ring(Devil)(135Lv)
247	0	Anubis Soul Set:Boots(Devil)(135Lv)
248	0	Anubis Soul Set:Gloves(Devil)(135Lv)
249	0	Hellfard Soul Set:Armlet(Beast)(135Lv)
250	0	Hellfard Soul Set:Helmet(Beast)(135Lv)
251	0	Hellfard Soul Set:Necklace(Beast)(135Lv)
252	0	Hellfard Soul Set:Ring(Beast)(135Lv)
253	0	Hellfard Soul Set:Boots(Beast)(135Lv)
254	0	Hellfard Soul Set:Gloves(Beast)(135Lv)
255	0	Phoenix Soul Set:Armlet(Bird)(135Lv)
256	0	Phoenix Soul Set:Helmet(Bird)(135Lv)
257	0	Phoenix Soul Set:Necklace(Bird)(135Lv)
258	0	Phoenix Soul Set:Ring(Bird)(135Lv)
259	0	Phoenix Soul Set:Boots(Bird)(135Lv)
260	0	Phoenix Soul Set:Gloves(Bird)(135Lv)
261	0	CutterMantis Soul Set:Armlet(Insect)(135Lv)
262	0	CutterMantis Soul Set:Helmet(Insect)(135Lv)
263	0	CutterMantis Soul Set:Necklace(Insect)(135Lv)
264	0	CutterMantis Soul Set:Ring(Insect)(135Lv)
265	0	CutterMantis Soul Set:Boots(Insect)(135Lv)
266	0	CutterMantis Soul Set:Gloves(Insect)(135Lv)
267	0	Napen Death Soul Set:Armlet(Plant)(135Lv)
268	0	Napen Death Soul Set:Helmet(Plant)(135Lv)
269	0	Napen Death Soul Set:Necklace(Plant)(135Lv)
270	0	Napen Death Soul Set:Ring(Plant)(135Lv)
271	0	Napen Death Soul Set:Boots(Plant)(135Lv)
272	0	Napen Death Soul Set:Gloves(Plant)(135Lv)
273	0	Roof Tile General Soul Set:Armlet(Mystery)(135Lv)
274	0	Roof Tile General Soul Set:Helmet(Mystery)(135Lv)
275	0	Roof Tile General Soul Set:Necklace(Mystery)(135Lv)
276	0	Roof Tile General Soul Set:Ring(Mystery)(135Lv)
277	0	Roof Tile General Soul Set:Boots(Mystery)(135Lv)
278	0	Roof Tile General Soul Set:Gloves(Mystery)(135Lv)
279	0	Destroyer Soul Set:Armlet(Metal)(135Lv)
280	0	Destroyer Soul Set:Helmet(Metal)(135Lv)
281	0	Destroyer Soul Set:Necklace(Metal)(135Lv)
282	0	Destroyer Soul Set:Ring(Metal)(135Lv)
283	0	Destroyer Soul Set:Boots(Metal)(135Lv)
284	0	Destroyer Soul Set:Gloves(Metal)(135Lv)
285	0	Chief Dr. Kai's suggestion:Trial(70Lv)
286	0	Chief Dr. Kai's suggestion:1st(95Lv)
287	0	Chief Dr. Kai's suggestion:2nd(115Lv)
288	0	Chief Dr. Kai's suggestion:King Garugon Development(135Lv)
289	0	Chief Dr. Kai's suggestion:King Garugon Development(135Lv)
290	0	Chief Dr. Kai's suggestion:King Garugon Development(135Lv)
291	0	Chief Dr. Kai's suggestion:King Garugon Development(135Lv)
292	0	Chief Dr. Kai's suggestion:King Garugon Development(135Lv)
293	0	Chief Dr. Kai's suggestion:King Garugon Development(135Lv)
294	0	Chief Dr. Kai's suggestion:Anubis Development(135Lv)
295	0	Chief Dr. Kai's suggestion:Anubis Development(135Lv)
296	0	Chief Dr. Kai's suggestion:Anubis Development(135Lv)
297	0	Chief Dr. Kai's suggestion:Anubis Development(135Lv)
298	0	Chief Dr. Kai's suggestion:Anubis Development(135Lv)
299	0	Chief Dr. Kai's suggestion:Anubis Development(135Lv)
300	0	Chief Dr. Kai's suggestion:Hellfard Development(135Lv)
301	0	Chief Dr. Kai's suggestion:Hellfard Development(135Lv)
302	0	Chief Dr. Kai's suggestion:Hellfard Development(135Lv)
303	0	Chief Dr. Kai's suggestion:Hellfard Development(135Lv)
304	0	Chief Dr. Kai's suggestion:Hellfard Development(135Lv)
305	0	Chief Dr. Kai's suggestion:Hellfard Development(135Lv)
306	0	Chief Dr. Kai's suggestion:Phoenix Development(135Lv)
307	0	Chief Dr. Kai's suggestion:Phoenix Development(135Lv)
308	0	Chief Dr. Kai's suggestion:Phoenix Development(135Lv)
309	0	Chief Dr. Kai's suggestion:Phoenix Development(135Lv)
310	0	Chief Dr. Kai's suggestion:Phoenix Development(135Lv)
311	0	Chief Dr. Kai's suggestion:Phoenix Development(135Lv)
312	0	Chief Dr. Kai's suggestion:CutterMantis Development(135Lv)
313	0	Chief Dr. Kai's suggestion:CutterMantis Development(135Lv)
314	0	Chief Dr. Kai's suggestion:CutterMantis Development(135Lv)
315	0	Chief Dr. Kai's suggestion:CutterMantis Development(135Lv)
316	0	Chief Dr. Kai's suggestion:CutterMantis Development(135Lv)
317	0	Chief Dr. Kai's suggestion:CutterMantis Development(135Lv)
318	0	Chief Dr. Kai's suggestion:Napen Death Development(135Lv)
319	0	Chief Dr. Kai's suggestion:Napen Death Development(135Lv)
320	0	Chief Dr. Kai's suggestion:Napen Death Development(135Lv)
321	0	Chief Dr. Kai's suggestion:Napen Death Development(135Lv)
322	0	Chief Dr. Kai's suggestion:Napen Death Development(135Lv)
323	0	Chief Dr. Kai's suggestion:Napen Death Development(135Lv)
324	0	Chief Dr. Kai's suggestion:Roof Tile General Development(135Lv)
325	0	Chief Dr. Kai's suggestion:Roof Tile General Development(135Lv)
326	0	Chief Dr. Kai's suggestion:Roof Tile General Development(135Lv)
327	0	Chief Dr. Kai's suggestion:Roof Tile General Development(135Lv)
328	0	Chief Dr. Kai's suggestion:Roof Tile General Development(135Lv)
329	0	Chief Dr. Kai's suggestion:Roof Tile General Development(135Lv)
330	0	Chief Dr. Kai's suggestion:Destroyer Development(135Lv)
331	0	Chief Dr. Kai's suggestion:Destroyer Development(135Lv)
332	0	Chief Dr. Kai's suggestion:Destroyer Development(135Lv)
333	0	Chief Dr. Kai's suggestion:Destroyer Development(135Lv)
334	0	Chief Dr. Kai's suggestion:Destroyer Development(135Lv)
335	0	Chief Dr. Kai's suggestion:Destroyer Development(135Lv)
