1	O limite de níveis crescimento com água benta é %d.  Você está subindo para o nível %d. 
2	É sobre o dinheiro máximo que pode ser obtido com a venda de itens.
3	Nível atual de restrição de Hench é %d.
4	Nível atual de restrição de caracteres é %d.
5	Esse item não pode ser usado nessa área.
6	Whisper não pode ser usado nessa área.
7	O armazém só pode ser usado a partir do nível %d.
8	Esse nível de Hench não pode aumentado.
9	Os preços foram mudados. Favor negociar denovo.
10	Mistura Parapoong terminou Você será transferido a o ponto de ressurreição.
11	Siege Affair terminou. Você será transferido a o ponto de ressurreição.
