1	닷지	상대의 공격을 일정시간동안 회피하는 기술
2	스트라이크	상대에게 추가 데미지를 주는 기술
3	카운터	상대의 공격에 자동으로 반격하는 기술
4	스턴	상대를 일정시간 기절시키는 기술
5	스내쳐	상대의 HP를 자신의 것으로 만드는 기술
6	힐링	체력을 회복시키는 기술
7	실드	상대의 공격 데미지를 줄여주는 기술
8	브레스	불을 뿜어 공격하는 기술
9	스피릿 위큰	데미지 공격과 함께 상대의 공격력을 줄이는 기술
10	슬로우 포스	데미지 공격과 함께 상대의 공격속도를 줄이는 기술
11	쇼크스턴	선택한 상대방과 주변 적군을 기절 상태에 빠트리는 기술
12	힐링 웨이브	선택한 상대방과 주변 아군의 HP를 회복하는 기술
13	홀리 파이어	일정지역에 불을 뿜어 공격하는 기술
14	스트라이크	상대에게 추가 데미지를 주는 기술
15	스턴	상대를 일정시간 기절시키는 기술
16	스내쳐	상대의 HP를 자신의 것으로 만드는 기술
17	힐링	체력을 회복시키는 기술
18	실드	상대의 공격 데미지를 줄여주는 기술
19	브레스	불을 뿜어 공격하는 기술
20	스피릿	악마속성의 데미지를 가하는 공격기술
21	포스	대지속성의 데미지를 가하는 공격기술
22	홀리 파이어	일정지역에 불을 뿜어 공격하는 기술
